---
title: Grants Committee
heading: Grants Committee
subtitle: Meet the community elected committee members
---

{% assign committee_members = site.staff_members | where: "position", "Committee Member" %}
{% for member in committee_members %}
{% unless member.hidden %}
<section class="diagonal {% cycle 'patterned', '' %}">
  <div class="container">
    {% assign index_modulo = forloop.index0 | modulo: 2 %}
    <div data-aos="{% cycle 'fade-right', 'fade-left' %}" class="container halves {% if index_modulo == 1 %}even{% endif %}">
      
      {% if index_modulo == 0 %}
      <!-- Left-Image Layout -->
      <div style="text-align: center;">
        <h4>{{ member.name }}</h4>
        <p>
          {% if member.twitter %}
            <a href="https://twitter.com/{{ member.twitter }}" target="_blank">
          {% endif %}
              <img 
                style="max-width: 400px; max-height: 400px;" 
                src="{{ member.image_path }}" 
                alt="{{ member.name }}"
              />
          {% if member.twitter %}
            </a>
          {% endif %}
        </p>

        <!-- Social / Site Links -->
        {% if member.twitter or member.site or member.youtube %}
        <div class="social-links">
          {% if member.twitter %}
            <a href="https://twitter.com/{{ member.twitter }}" target="_blank" 
               class="social-link social-link--twitter">
              <img src="../images/icons/twitter.svg" alt="Twitter Logo"> 
              Twitter
            </a>
          {% endif %}
          {% if member.site %}
            <a href="{{ member.site }}" target="_blank" 
               class="social-link social-link--website">
              <img src="../images/icons/site.svg" alt="Website Icon"> 
              Website
            </a>
          {% endif %}
          {% if member.youtube %}
            <a href="https://youtube.com/{{ member.youtube }}" target="_blank" 
               class="social-link social-link--youtube">
              <img src="../images/icons/youtube.svg" alt="YouTube Logo"> 
              YouTube
            </a>
          {% endif %}
        </div>
        {% endif %}
      </div>

      <div>
        <p class="subtext editable">{{ member.content }}</p>
      </div>

      {% else %}
      <!-- Right-Image Layout -->
      <div>
        <p class="subtext editable">{{ member.content }}</p>
      </div>

      <div style="text-align: center;">
        <h4 style="color: grey;">{{ member.name }}</h4>
        <p>
          {% if member.twitter %}
            <a href="https://twitter.com/{{ member.twitter }}" target="_blank">
          {% endif %}
              <img 
                style="max-width: 400px; max-height: 400px;" 
                src="{{ member.image_path }}" 
                alt="{{ member.name }}"
              />
          {% if member.twitter %}
            </a>
          {% endif %}
        </p>

        <!-- Social / Site Links -->
        {% if member.twitter or member.site or member.youtube %}
        <div class="social-links">
          {% if member.twitter %}
            <a href="https://twitter.com/{{ member.twitter }}" target="_blank" 
               class="social-link social-link--twitter">
              <img src="../images/icons/twitter.svg" alt="Twitter Logo"> 
              Twitter
            </a>
          {% endif %}
          {% if member.site %}
            <a href="{{ member.site }}" target="_blank" 
               class="social-link social-link--website">
              <img src="../images/icons/site.svg" alt="Website Icon"> 
              Website
            </a>
          {% endif %}
          {% if member.youtube %}
            <a href="https://youtube.com/{{ member.youtube }}" target="_blank" 
               class="social-link social-link--youtube">
              <img src="../images/icons/youtube.svg" alt="YouTube Logo"> 
              YouTube
            </a>
          {% endif %}
        </div>
        {% endif %}
      </div>
      {% endif %}

    </div>
  </div>
</section>
{% endunless %}
{% endfor %}