---
title: Zcash Community Grants
---

<section class="hero diagonal">
	<div class="container title-container">
		<h2 class="editable">Zcash Community Grants</h2>
		<p class="subtext editable">Do you have what it takes to contribute to the adoption and usability of Zcash? We invite you to apply for a grant. It’s simple!</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
	</div>
</section>


<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Meet the team</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section>

