---
title: Selection Process
heading: Selection Process
subtitle: These are some examples of things Zcash Community Grants would like to fund.
---

<section class="diagonal patterned">
	<div class="container">
        <p class="editable">As a democratically-elected body entrusted with allocating  
community resources, ZCG aims to be as transparent as  
possible. This document describes our grant selection process,  
and will be updated as our process evolves.</p>

        <p>1. Applicant should make sure to be aware of the below before submitting an application: <br>
- If approved, applicants will need to go through a KYC process to be eligible for funding, though they can remain pseudonymous to the public. <br>
- Applications can be submitted on a rolling basis, but will be reviewed every other week. <br>
- The larger the requested sum, the more diligence and milestones required <br>
Questions can be posted to the Zcash forum tagging @ZcashGrants, prior to submission</p>

<p>2. Applicant submits application.</p>

<p>From ZcashCommunityGrants.org there&rsquo;s a link to the ZF grants platform.<br>
Once you have finished reading about the application process and understand it, submit your application here. This will require creating an account.</p>

<p>3. Form requires a complete submission.</p>

<p>Checklist with essential eligibility requirements (format, detail, content, metrics) must be complete.<br>
Applications that don&rsquo;t/can&rsquo;t meet essential requirements can&rsquo;t be submitted.</p>

<p>4. Application published on the Zcash Forum under ZCG Applicants<br>
- Community temperature check and crowdsourcing due diligence.<br>
- Based on community reactions, ZCG/applicant may introduce changes.</p>

<p>5. ZCG Members review &amp; discuss the grant, greenlight in bi-Weekly meeting.</p>

<p>6. ZCG may request improvements to application and perform additional diligence.<br>
- ZCG may include outside experts in the process.<br>
- ZCG will review grantee&rsquo;s previous grant outcomes, if any.</p>

<p>7. Application finalized with requested improvements<br>
- Finalized application must meet all requirements.</p>

<p>8. ZCG votes on whether to approve the application or not in bi-weekly meeting.<br>
- Simple majority (3 of 5) with the ability for a strong-veto to halt approval and require more discussion.</p>

<p>9. ZCG publishes its final decision in batches, post approvals in bi-weekly meeting.<br>
- Published decisions should include a short explanation of reasoning.<br>
- Decisions and explanation are published on Zcash Forum.</p>

<p>10. Formal grant agreement between applicant and ZCG/ZF.<br>
- Preparing and signing any required documentation<br>
- Agreement should specify budgets, deliverables, reporting, and disclosures.<br>
- Budgets should be structured with concrete milestones based on size and timeline.</p>

<p>11. Funds are disbursed by ZF and funded work begins.</p>

<p>- ZF will request a z-address from the grantee.<br>
- ZF will disburse funds in ZEC.</p>

<p>12. Interim check ins, support, reports, evaluation, and additional funds disbursed by ZF.<br>
- ZCG and ZF will provide necessary support over the duration of the grant period.<br>
- Quarterly reports, monthly public dev calls or reports, annual reports (including financials) may be needed depending on scope of the project.<br>
- ZCG allocates and performs work for interim evaluations.<br>
- ZF disburses additional funds based on predetermined milestones.<br>
- Interim reports will be submitted on grants platform and posted to the forum by the grantee, in the same thread as original application.<br>
- ZF will review interim reports before signing oE on disbursement of additional funds.</p>

<p>13. Option to apply for additional funding to continue the project.<br>
- Depending on the circumstances, this may happen prior to current grant ending.</p>

<p>14. Grant period ends / Applicant delivers final report.<br>
- Final report posted to the Forum in the same thread as original application.</p>

<p>15. ZCG performs and publishes final evaluation.<br>
- Evaluation published on a dedicated website and Zcash Forum.<br>
- Community offers feedback and reactions to generate learnings for future grants.</p>
    </div>
</section>

    
 <section class="diagonal alternate">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_clients/" class="btn"><strong>&#9998;</strong> Manage Clients</a></p>
		<ul class="image-grid">
			{% for client in site.clients %}
				<li>
					<a href="{{ site.baseurl }}{{ client.url }}">
						<img src="{% include relative-src.html src=client.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ client.name }}</div>
							<div class="position">{{ client.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Some of our work</h3>
			<p class="editable">We take pride in our previous work and our happy customers. We cater to any sector to boost business and increase exposure.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/cloudcannon-logo-blue.svg" width="250" style="margin-bottom: 40px;"></li>
				<li><img src="{{ site.baseurl }}/images/jekyll-logo-black-red-transparent.png" width="300"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Latest software, greatest perfomance</h3>
			<p class="editable">We aim to provide grants to teams of all sizes, from the individual hobbyist to specialist teams. Hobbyists and small teams have been the lifeblood of the Zcash ecosystem since its launch in 2016. We’d also like to reach out to large organizations who may not be actively looking to apply to grant programs, such as exchanges and widely adopted wallet providers. This will allow us to tap into their network of users and infrastructure, and ultimately accelerate our impact. We believe that this mix of small and large teams will allow us to spread more quickly and eEectively across the sea of potential ZEC users.</p>
		</div>
	</div>
</section>